<div>
  <%= f.label :phone_number, style: "display: block" %>
  <%= f.text_field :phone_number %>
</div>
<br>
<div>
  <%= f.label :availability, style: "display: block" %>
  <%= f.text_field :availability %>
</div>
