$("#transaction-form").html("<%= escape_javascript(render partial: 'form', locals:  {quotation: @quotation} ) %>");
<% if @quotation.persisted? %>
	$('#second-half').html("<h3>INSURANCE PREMIUM</h3><br><h1><%= @quotation_premium %>$</h1>")
	$("#second-half").append("<%= escape_javascript(render partial: 'form_second_half', locals:  {quotation: @quotation} ) %>");
<% else %>
	$('#second-half').html(" ")
<% end %>